In [3]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../../')
import myenvvar
from bs4 import BeautifulSoup
import pymysql
import glob
from sqlalchemy import create_engine
import ntpath

In [4]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=myenvvar.db_vars['user'],
                               pw=myenvvar.db_vars['password'],
                               db=myenvvar.db_vars['db']),encoding = 'utf8')

# dim_manager

In [6]:
df_manager = pd.read_excel(r'C:\Users\orenz\Desktop\op_db\NetData\dimNet\dims.xlsx', sheet_name="dim_manager")

In [7]:
df_manager.head()

   Manager Number Manager Name
0       510773922          ארם
1       510806870         רעות
2       510927536  אחים ואחיות
3       510930654       רופאים
4       510930670      יהב פרח

In [8]:
res = df_manager.to_sql('dim_manager', con = engine, if_exists = 'append',index=False)

C:\Users\orenz\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF9\\xF2\\xE5\\xEF \\xF7...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

# dim_date

In [4]:
df_date = pd.read_excel(r'C:\Users\orenz\Desktop\op_db\NetData\dimNet\DIM_NET.xlsx', sheet_name="DIM_Date")

In [5]:
df_date.head()

     Date
0  200001
1  200002
2  200003
3  200004
4  200005

In [8]:
res = df_date.to_sql('dim_date', con = engine, if_exists = 'append',index=False)

C:\Users\orenz\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF9\\xF2\\xE5\\xEF \\xF7...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

# dim_fund

In [11]:
df_fund = pd.read_excel(r'C:\Users\orenz\Desktop\op_db\NetData\dimNet\DIM_NET.xlsx', sheet_name="DIM_Fund")

In [12]:
res = df_fund.to_sql('dim_fund', con = engine, if_exists = 'append',index=False)

# dim_category

In [13]:
df_category = pd.read_excel(r'C:\Users\orenz\Desktop\op_db\NetData\dimNet\DIM_NET.xlsx', sheet_name="DIM_Category")

In [14]:
res = df_category.to_sql('dim_category', con = engine, if_exists = 'append',index=False)

# dim_managingBody

In [15]:
df_managingBody = pd.read_excel(r'C:\Users\orenz\Desktop\op_db\NetData\dimNet\DIM_NET.xlsx', sheet_name="DIM_ManagingBody")

In [16]:
res = df_managingBody.to_sql('dim_managingBody', con = engine, if_exists = 'append',index=False)

C:\Users\orenz\anaconda3\lib\site-packages\pandas\io\sql.py:1333: UserWarning: The provided table name 'dim_managingBody' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

# dim_orbit

In [17]:
df_orbit = pd.read_excel(r'C:\Users\orenz\Desktop\op_db\NetData\dimNet\DIM_NET.xlsx', sheet_name="DIM_Orbit")

In [18]:
res = df_orbit.to_sql('dim_orbit', con = engine, if_exists = 'append',index=False)

# dim_channel

In [19]:
df_channel = pd.read_excel(r'C:\Users\orenz\Desktop\op_db\NetData\dimNet\DIM_NET.xlsx', sheet_name="DIM_Channel")

In [20]:
res = df_channel.to_sql('dim_channel', con = engine, if_exists = 'append',index=False)